
/* ----------------------------------------- [ VARIABLES ] ------------------------------------------ */
:root { 
    --bg-color: ; 
    --primary-color: ;
    --secondary-color: ; 
}
/* ----------------------------------------- [ STYLES GENERAUX ] ------------------------------------------ */
