
/* ----------------------------------------- [ VARIABLES ] ------------------------------------------- */
:root { 
    --bg-pages: white; 
    --bg-ohmy: #549c84;
    --bg-note: #fae0df;
    --bg-chic: #fff5fe;
    --bg-delice: #f9f9f9;
    --bg-palette: #fdfffd;
    --color-ohmy: #fdcb46;
}
/* ----------------------------------------- [ COULEURS & FONTS ] -------------------------------------------- */

body { background-color: var( --bg-pages); }

header, footer, button { 
    background-color: var( --bg-ohmy);
    color: var( --color-ohmy); 
    font-family: 'Montserrat', sans-serif;
    }

.menu-note--colorfont { 
    background-color: var( --bg-note); 
    font-family: 'Devonshire', cursive;
}
.menu-chic--colorfont { 
    background-color: var( --bg-chic);
    font-family: 'Croissant One', cursive;
}
.menu-delice--colorfont { 
    background-color: var( --bg-delice); 
    font-family: 'Dancing Script', cursive;
}
.menu-palette--colorfont { 
    background-color: var( --bg-palette); 
    font-family: 'Kaushan Script', cursive;
}

/* -----------------------------------------------------------------------------------------------------
------------------------------------------------- [ CSS ] ----------------------------------------------
 ----------------------------------------------------------------------------------------------------- */

/* ----- Général  */

* { /* par défault */
    margin: 0rem; 
    font-size: 20px; 
} 

a { text-decoration: none; color: unset; }

/* ----- Header + Footer */

header h1 {
    width: auto;
    text-align: center;
    padding: 1.7rem;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    position: fixed;
    bottom: 0%;
}

/* ----- Page index : Accueil */

.index_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2.5rem;
}

.index_main section {
    width: 15rem;
    height: 20rem;
    margin: 1rem;
    box-shadow: 1px 1px 8px rgb(179, 178, 178);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.index_main h2, p {
    padding: 1rem;
}

.index_main img {
    width: 2.3rem;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

button {
    padding: 0.5rem 2rem;
    border: 1px var(--bg-ohmy) solid ;
    border-radius: 10px;
}
    
/* ----- Pages Menus */

.page2_main, .page3_main, .page4_main, .page5_main { 
    width: 35rem;
    height: auto;
    padding: 2rem;
    margin: 1rem;
    box-shadow: 1px 1px 8px rgb(179, 178, 178);
}

/* ----- Page 2 : La note enchantée */


